<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/manager_default">
<head>
	
</head>
<div layout:fragment="content">
	<div id="mainPage" style="display: flex;">
		<div class="container manager-container">
			<div class="managerList" id="managerList">
				<h2>관리자 리스트</h2>

				<table class="table table-hover">
					<thead>
						<tr>
							<th>이름</th>
							<th>이메일</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${!#lists.isEmpty(member)}"
							th:each="member : ${member}">
							<td th:text="${member.name}"></td>
							<td class="member-email" th:text="${member.email}"></td>
							<td><button type="button" class="btn btn-danger btn-admindelete">delete</button></td>
						</tr>
						<tr th:if="${#lists.isEmpty(member)}">
							<td colspan="4">조회된 결과가 없습니다.</td>
						</tr>

					</tbody>

				</table>



				<div
					style="border: solid 1px lightgray; display: flex; flex-direction: column; justify-content: space-between; padding: 20px">
					<div>새로 추가할 관리자 이메일을 입력하세요</div>
					<div
						style="display: flex; flex-direction: row; justify-content: space-between;">
						<div
							style="color: gray; border: solid 1px lightgray; margin: 10px; padding: 10px 40px">예:
							gildong@naver.com</div>
						<!-- Button trigger modal -->
						<button type="button"
							class="btn btn-outline-warning insertManager"
							data-bs-toggle="modal" data-bs-target="#exampleModal">
							관리자 권한추가</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">관리자 추가</h5>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<input type="text" id="input-email" placeholder="이메일을 입력해주세요">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-success btn-addAdmin">
											Add
										</button>
									</div>
								</div>
							</div>
						</div>

					</div>



				</div>

			</div>


		</div>
	</div>

<script th:inline="javascript">

	var saveBtn = document.querySelector(".btn-addAdmin");
	var inputemail = document.querySelector("#input-email");
	var deleteBtn = document.querySelector(".btn-admindelete");
	

	inputemail.addEventListener('keyup', function(e) {
		if (e.keyCode === 13) {
			var email = document.getElementById('input-email').value;
			console.log(email);

			var data = {
				"email": email
			}
			var newdata = JSON.stringify(data);

			addAdmin(newdata);
		}
	})

	saveBtn.addEventListener('click', function() {
		var email = document.getElementById('input-email').value;
		console.log(email);

		var data = {
			"email": email
		}
		var newdata = JSON.stringify(data);

		addAdmin(newdata);
	})


	deleteBtn.addEventListener('click', function() {
		if(confirm("관리자 권한을 삭제하시겠습니까")){
			var email = document.querySelector('.member-email').innerHTML;
			var data = {
				"email": email
			}
			var newdata = JSON.stringify(data);
			console.log(newdata);
			deleteAdmin(newdata);
		}else{
			
		}
		
	});

	function addAdmin(jsondata) {
		const url = "/manager/manager"
		$.ajax({
			type: "POST",
			url: url,
			contentType: "application/json",
			data: jsondata,
			dataType: "json",
			async: false
		}).done(function(result, status) {
			console.log(status);
			alert("관리자 권한이 부여되었습니다.");
			location.reload();
		}).fail(function(request, status, error) {
			alert("update 에러 발생 : " + error + ",  " + request);
			console.log(request);
		})

	};

	function deleteAdmin(jsondata) {
		const url = "/manager/manager"
		$.ajax({
			type: "PATCH",
			url: url,
			contentType: "application/json",
			data: jsondata,
			dataType: "json",
			async: true
		}).done(function(result, status) {
			console.log(status);
			alert("관리자 권한이 삭제되었습니다.");
			location.reload();
		}).fail(function(request, status, error) {
			alert("update 에러 발생 : " + error + ",  " + request);
			console.log(request);
		})

	};

	</script>

</div>
</html>