<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/manager_default">
<head>
	
</head>
<div layout:fragment="content">
	<div id="mainPage">

		<div class="container manager-container">
			<h2>신문</h2>
    	
	    	<form id="frm" name="frm" method="post" action="/manager/fileUpload" enctype="multipart/form-data">
	    		<table class="board_detail">
					<tr>
						<td>제목</td>
						<td><input type="text" id="title" name="title"/></td>
					</tr>
					<!-- <tr>
						<td>카테고리</td>
						<td><input type="text" id="category" name="category" disabled/></td>
					</tr> -->
				</table>
				<div class="filechooser">
					<input type="file" accept=".pdf" onChange="readURL(this);" id="files" name="file" multiple="multiple">
					<input type="submit" id="submit" value="저장" class="btn btn-outline-primary"/>
					<div>
						<img id="preview" style="max-width:700px; height:300px; padding-top:10px;"/>
					</div>	
				</div>
				
	    	</form>
		
		</div>
	</div>
</div>

</html>