<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">인하전대 학보사</title>
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
</head>

<div>
	<th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
	<th:block layout:fragment="content"></th:block>
	<footer th:replace="fragments/footer :: footerFragment"></footer>
</div>


</html>