<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">인공학보</title>
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	
	
	
	<!-- include libraries(summernote lite version) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" integrity="sha512-ZbehZMIlGA8CTIOtdE+M81uj3mrcgyrh6ZFeG33A4FHECakGrOsTPlPQ8ijjLkxgImrdmSVUHn1j+ApjodYZow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" integrity="sha512-lVkQNgKabKsM1DA/qbhJRFQU8TuwkLF2vSN3iU/c7+iayKs08Y8GXqfFxxTZr1IcpMovXnf2N/ZZoMgmZep1YQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src=" https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js"></script>
		
</head>

<div>
	<th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
	<div id="board_grid_manager" class="container_frame">	
		<th:block th:replace="fragments/sidemenu/managersidemenu :: managersideFragment"></th:block>
		<th:block layout:fragment="content"></th:block>
	</div>
	<footer th:replace="fragments/footer :: footerFragment"></footer>
</div>
<script src="/js/inputfile.js"></script>
<script src="/js/boardWrite.js"></script>