<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">인공학보</title>
	<th:block th:replace="fragments/config :: configFragment"></th:block>
</head>

<div>
	<th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
	<div id="board_grid" class="container_frame">	
		<th:block th:replace="fragments/sidemenu/socialSidemenu :: socialSideFragment"></th:block>
		<th:block layout:fragment="content"></th:block>
	</div>
	<th:block th:replace="fragments/paging :: pagingFragment"></th:block>
	<footer th:replace="fragments/footer :: footerFragment"></footer>
</div>