<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">
<div layout:fragment="content">
	<div id="mainPage" style="display: flex;">
		<nav class="nav flex-column sidemenu">
			<div class="side-contents">
				<hr />
				<a class="nav-link" href="../manager">관리자 등록</a>
				<a class="nav-link" href="../calendar">캘린더</a> 
				<a class="nav-link" href="board">게시판</a>
				<hr />
			</div>

		</nav>

		<div class="container manager-container">
			<div class="managerList" id="managerList">
				<h2>게시판</h2>

				<table class="table table-hover">
					<thead>
						<tr>
							<th>글번호</th>
							<th>제목</th>
							<th>조회수</th>
							<th>작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td class="title"><a href="">ssss</a></td>
							<td class="hitCnt">1</td>
							<td class="createDatetime">2022-01-02</td>
						</tr>
						<tr>
							<td>1</td>
							<td class="title"><a href="">ssss</a></td>
							<td class="hitCnt">1</td>
							<td class="createDatetime">2022-01-02</td>
						</tr>
						<tr>
							<td>1</td>
							<td class="title"><a href="">ssss</a></td>
							<td class="hitCnt">1</td>
							<td class="createDatetime">2022-01-02</td>
						</tr>
						<tr>
							<td>1</td>
							<td class="title"><a href="">ssss</a></td>
							<td class="hitCnt">1</td>
							<td class="createDatetime">2022-01-02</td>
						</tr>
						<tr>
							<td>1</td>
							<td class="title"><a href="">ssss</a></td>
							<td class="hitCnt">1</td>
							<td class="createDatetime">2022-01-02</td>
						</tr>
						<tr>
							<td>1</td>
							<td class="title"><a href="">ssss</a></td>
							<td class="hitCnt">1</td>
							<td class="createDatetime">2022-01-02</td>
						</tr>
						<tr>
							<td>1</td>
							<td class="title"><a href="">ssss</a></td>
							<td class="hitCnt">1</td>
							<td class="createDatetime">2022-01-02</td>
						</tr>
						
					</tbody>

				</table>
				
				<div>
					<button  type="button" class="btn btn-outline-primary">
						<a href="boardWrite">글쓰기</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

</html>