<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">
<head>
	<script th:inline="javascript">
		function boardDelete(){
			if(confirm("삭제하시겠습니까?")){
				var list = [[${board}]];
				alert(list.news);
				var myNews = list.news;
				var board = {
					news : myNews
				};
				
				var jsondata = JSON.stringify(board);
				
				deleteData(jsondata);
			}else{
				
			}
		}
		
		//데이터 삭제 메소드
		function deleteData(deletedata) {
			console.log(deletedata);
			const url = "/manager/boardDelete"
			$.ajax({
				type : "DELETE",
				url : url,
				contentType : "application/json",
				data : deletedata,
				dataType : "json",
				
			}).done(function(result, status) {
				location.reload();
				alert("delete "+status);
			}).fail(function(request, status, error) {
				history.back();
				alert("delete 에러 발생 : " + error);
				//location.href="/index";
			})
		}
	</script>
</head>	
<div layout:fragment="content">
	<div style=" margin: 0 auto; padding: 0 15rem; padding-top: 120px;">
		<div class="article-header">
			<div class="article-header-title">
				<h1 th:text="${board.title}" 
				style="font-weight: bold; letter-spacing: 0; font-size: 33px;line-height: 43px;">
				</h1>
			</div>
			<div th:if="${#strings.equals(#authentication.name, email) and !#authentication.name.equals('anonymousUser')}">
				<span>
				<a href="/board/boardModify?news=" th:attrappend="href=${board.news}">수정</a>
				</span> 
				/
				<span><a href="#" onclick="boardDelete();">삭제</a></span>
				
			</div>
			
			<p th:if="${#authentication.name.equals('${email}') and !#authentication.name.equals('anonymousUser')} " th:text="${#authentication.name}"></p>
			<!-- <div th:text="${email}"></div>
			<div th:text="${#authentication.name}"></div> -->
			<!-- <div id="username" th:value="${#authentication.getPrincipal().attributes.name}" style="display:none"></div> -->
			<div class="article-header-date">
				<td th:text="|작성일  ${board.regdate} |"></td>
			</div>
			<div class="article-header-member">
				<div th:text="|${board.member} 기자 |" >
			</div>
			<div class="article-header-viewCnt">
				<td th:text="|조회수 ${board.viewcnt}|"></td>
			</div>
			</div>
		</div>
		&nbsp
		<hr>
		<div class="article-body">
			<div th:utext="${board.contents}"></div>
		</div>
		
	</div>
</div>


</html>