<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">
<div layout:fragment="content">
	<div style=" margin: 0 auto; padding: 0 15rem; padding-top: 120px;">
		<div class="article-header">
			<div class="article-header-title">
			<h1 th:text="${board.title}" 
			style="font-weight: bold; letter-spacing: 0; font-size: 33px;line-height: 43px;">
			</h1>
			</div>
			<div class="article-header-date">
				<td th:text="|작성일  ${board.regdate} |"></td>
			</div>
			<div class="article-header-member">
				<div th:text="|${board.member} 기자 |" >
			</div>
			<div class="article-header-viewCnt">
				<td th:text="|조회수 ${board.viewcnt}|"></td>
			</div>
			</div>
		</div>
		&nbsp
		<hr>
		<div class="article-body">
			<div th:utext="${board.contents}"></div>
		</div>
		
	</div>
</div>


</html>