<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

	<div layout:fragment="content">
		<div id="board_grid_paper" class="container_frame">

			<div class="news_board_c">
				<div class="board_top">
					<span class="paper_month">
						<a><</a>
						<h5>10월</h5>
						<a>></a>
					</span>
				</div>
				<div class="board_bottom">
					<div class="paper_list">
						<div class="paper_list_img"><img src="/img/paper.png"></div>
						<div class="paper_content">
							<div class="paper_title">
								<span>제 371호</span>
								<span >총 6면</span>
							</div>
							<span>2021년 3월 11 목요일</span>
						</div>
					</div>
					<div class="paper_list">
						<div class="paper_list_img"><img src="/img/paper.png"></div>
						<div class="paper_content">
							<div class="paper_title">
								<span>제 371호</span>
								<span >총 6면</span>
							</div>
							<span>2021년 3월 11 목요일</span>
						</div>
					</div>
					<div class="paper_list">
						<div class="paper_list_img"><img src="/img/paper.png"></div>
						<div class="paper_content">
							<div class="paper_title">
								<span>제 371호</span>
								<span >총 6면</span>
							</div>
							<span>2021년 3월 11 목요일</span>
						</div>
					</div>
					<div class="paper_list">
						<div class="paper_list_img"><img src="/img/paper.png"></div>
						<div class="paper_content">
							<div class="paper_title">
								<span>제 371호</span>
								<span >총 6면</span>
							</div>
							<span>2021년 3월 11 목요일</span>
						</div>
					</div>
					<div class="paper_list">
						<div class="paper_list_img"><img src="/img/paper.png"></div>
						<div class="paper_content">
							<div class="paper_title">
								<span>제 371호</span>
								<span >총 6면</span>
							</div>
							<span>2021년 3월 11 목요일</span>
						</div>
					</div>
					
				</div>
			</div>

			<div class="news_board_r">
				<div>
					<h5>많이 본 뉴스</h5>
				</div>
				<div>
					<div id="first"	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>