<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

	<div layout:fragment="content">
		<div id="board_grid" class="container_frame">
			<div class="news_board_l">
				<div>
					<h5>사회</h5>
					<div class="sub_category">
						<div>일반</div>
						<div>경제</div>
						<div>국제 사회</div>
					</div>
				</div>
			</div>

			<div class="news_board_c">
				<div class="board_top"><h5>일반</h5></div>
				<div class="board_bottom">
					<div class="board_list">
						<div class="board_list_img"><img src="/img/test2.jpg"></div>
						<div class="board_content">
							<h>신당역 살해범, 도주 계획했나… 범행 8시간 전 예금 인출 시도</h>
							<p>서울 지하철 2호선 신당역 여자 화장실에서 동료인 20대 여성 역무원을 살해한 혐의로 구속된 전모(31)씨가 범행 당일 자신의 예금을 인출하려 했던 사실이 확인됐다...</p>
						</div>
					</div>
					<div class="board_list">
						<div class="board_list_img"><img src="/img/test2.jpg"></div>
						<div class="board_content">
							<h>신당역 살해범, 도주 계획했나… 범행 8시간 전 예금 인출 시도</h>
							<p>서울 지하철 2호선 신당역 여자 화장실에서 동료인 20대 여성 역무원을 살해한 혐의로 구속된 전모(31)씨가 범행 당일 자신의 예금을 인출하려 했던 사실이 확인됐다...</p>
						</div>
					</div>
					<div class="board_list">
						<div class="board_list_img"><img src="/img/test2.jpg"></div>
						<div class="board_content">
							<h>신당역 살해범, 도주 계획했나… 범행 8시간 전 예금 인출 시도</h>
							<p>서울 지하철 2호선 신당역 여자 화장실에서 동료인 20대 여성 역무원을 살해한 혐의로 구속된 전모(31)씨가 범행 당일 자신의 예금을 인출하려 했던 사실이 확인됐다...</p>
						</div>
					</div>
					<div class="board_list">
						<div class="board_list_img"><img src="/img/test2.jpg"></div>
						<div class="board_content">
							<h>신당역 살해범, 도주 계획했나… 범행 8시간 전 예금 인출 시도</h>
							<p>서울 지하철 2호선 신당역 여자 화장실에서 동료인 20대 여성 역무원을 살해한 혐의로 구속된 전모(31)씨가 범행 당일 자신의 예금을 인출하려 했던 사실이 확인됐다...</p>
						</div>
					</div>
					<div class="board_list">
						<div class="board_list_img"><img src="/img/test2.jpg"></div>
						<div class="board_content">
							<h>신당역 살해범, 도주 계획했나… 범행 8시간 전 예금 인출 시도</h>
							<p>서울 지하철 2호선 신당역 여자 화장실에서 동료인 20대 여성 역무원을 살해한 혐의로 구속된 전모(31)씨가 범행 당일 자신의 예금을 인출하려 했던 사실이 확인됐다...</p>
						</div>
					</div>
					<div class="board_list">
						<div class="board_list_img"><img src="/img/test2.jpg"></div>
						<div class="board_content">
							<h>신당역 살해범, 도주 계획했나… 범행 8시간 전 예금 인출 시도</h>
							<p>서울 지하철 2호선 신당역 여자 화장실에서 동료인 20대 여성 역무원을 살해한 혐의로 구속된 전모(31)씨가 범행 당일 자신의 예금을 인출하려 했던 사실이 확인됐다...</p>
						</div>
					</div>
				</div>
			</div>

			<div class="news_board_r">
				<div>
					<h5>많이 본 뉴스</h5>
				</div>
				<div>
					<div id="first"	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>