<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<th:block th:fragment="managersideFragment">
    <!-- sidebar -->
    <div class="news_board_l">
			<div id="menu">
				<h5>관리자</h5>
				<div class="sub_category">
					<div><a href="manager">관리자 등록</a></div>
					<div><a href="calendar">캘린더</a></div>
					<div class='dropdown'>게시판
						<ul class="dropdown-list">
							<li><a href="boardWrite">기사 쓰기</a></li>
							<li><a href="newspaperWrite">신문</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    <!-- End of sidebar -->

</th:block>
</html>