@charset "UTF-8";

#board_grid_manager {display: grid; grid-template-columns: 0.5fr 3fr; padding: 1.5rem 0; padding-top: 91px;}

.manager-container{
	border-left: 1px solid #d7d7d7;
	padding: 0.5rem 20px;
	
}

/* .managerList{
  padding-top: 0.5rem;
  padding-left: 20px;
} */


.insertManager:hover{
	color:white;
}
