@charset "UTF-8";

.sidemenu{
	float:left;
	padding:30px 20px;
	padding-left:80px;
	border-right: solid 1px lightgray;
	min-width: 180px;
	height:100%;
}

.page-title{
	text-align: center;
}

.side-contents{
	font-size : 20px;
	padding:20px;
	text-align: left;
}


