@charset "UTF-8";

@import "bootstrap.css";
@import "articleList.css";
@import "login.css";
@import "sidemenu.css";
@import "picture.css";
@import "main.css";
@import "manager.css";
@import "boardWrite.css";
@import "index.css";

html, body{
	height:100%;
}

body{
	display: flex;
	flex-direction: column;
}

/* footer{
	flex: 1;
	background-color:red;
	margin:10%;
} */

#mainPage{
	height:100vh;
	/* height:clac(100vh - 120px); */
}

