<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<div layout:fragment="content">
	<!-- 사이드 바 -->
	<div style="float: right; padding-right: 100px;  position: sticky; top: 10%;">
      	<h4>많이 본 뉴스</h4>
      	<ol style="padding-left:15%">
      		<li>많이 본 뉴스1</li>
      		<li>많이 본 뉴스2</li>
      		<li>많이 본 뉴스3</li>
      		<li>많이 본 뉴스4</li>
      		<li>많이 본 뉴스5</li>
      	</ol>
	</div>
	<div class="container px-4 px-lg-5">
		<!-- Heading Row-->
		<div class="row gx-4 gx-lg-5 align-items-center my-5">
			<div class="col-lg-7">
				<img class="img-fluid rounded mb-4 mb-lg-0"
					src="img/test1.jpg" width = "600" alt="..." />
			</div>
			<div class="col-lg-5">
				<h1 class="font-weight-light">
					<a class="title" href="#"
						style="text-decoration: none; color: black">학우들의 목소리를 대변하는 학생자치운영위원회를 만나다</a>
				</h1>
				<p style="color: gray">우리 대학 학우들의 목소리를 대변하는 학생기구. 발열검사소 설치부터 등록금 반환까지,
					 학우들을 위해 열일하는 학생자치운영위원회 기계과 김종운 위원장과 메카트로닉스과 이승호 수석 부위원장을 만나 인터뷰를 진행했다.</p>
				<!-- <a class="btn btn-primary" href="#!">Call to Action!</a> -->
			</div>
		</div>

		<hr/>


		<div class="row gx-4 gx-lg-5 align-items-center my-5">
			<h5>보도 대학</h5>
			<div class="articles" style="display: flex;">
				<div class="main"
					style="border-right: solid 1px lightgrey; margin-right: 100px;">
					<div class="col-lg-7">
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="img/test2.jpg" width = "600" alt="..." />
					</div>
					<p>
					<h2 class="font-weight-light">연습을 실전처럼 'VR 모의면접 체험'</h2>
				</div>

				<div
					style="display: flex; flex-direction: column; justify-content: space-around;">
					<div
						style="display: flex; flex-direction: row; justify-content: space-between;">
						<h3 class="font-weight-light">코로나 학점 인플레이션</h3>
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg" alt="..." />
					</div>
					<time datetime="2022-09-17">2022-09-17</time>
					<hr />
					<div
						style="display: flex; flex-direction: row; justify-content: space-between;">
						<h3 class="font-weight-light">비대면 2년차도 막지 못한 이러닝 오류</h3>
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg" alt="..." />
					</div>
					<time datetime="2022-09-17">2022-09-17</time>
				</div>

			</div>

		</div>

		<hr />

		<div class="row gx-4 gx-lg-5 align-items-center my-5">
			<h5>사회</h5>
			<div class="articles" style="display: flex;">
				<div class="main"
					style="border-right: solid 1px lightgrey; margin-right: 100px;">
					<div class="col-lg-7">
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="img/test3.jpg" width="600" alt="..." />
					</div>
					<p>
					<h2 class="font-weight-light">챗봇 '이루다' 논란, 인공지능 윤리는 어디에</h2>
				</div>

				<div
					style="display: flex; flex-direction: column; justify-content: space-around;">
					<div
						style="display: flex; flex-direction: row; justify-content: space-between;">
						<h3 class="font-weight-light">정인이 사건에서 우리가 기억해야 할 것은</h3>
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg" alt="..." />
					</div>
					<time datetime="2022-09-17">2022-09-17</time>
					<hr />
					<div
						style="display: flex; flex-direction: row; justify-content: space-between;">
						<h3 class="font-weight-light">프랑스-이슬람 갈등, 종교와 관습의 전쟁</h3>
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg" alt="..." />
					</div>
					<time datetime="2022-09-17">2022-09-17</time>
				</div>

			</div>

		</div>

		<hr />

		<div class="row gx-4 gx-lg-5 align-items-center my-5">
			<h5>종합문화</h5>
			<div class="articles" style="display: flex;">
				<div class="main"
					style="border-right: solid 1px lightgrey; margin-right: 100px;">
					<div class="col-lg-7">
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="img/test4.jpg" width="600" alt="..." />
					</div>
					<p>
					<h2 class="font-weight-light">SK에서 신세계로, 와이번스의 새출발</h2>
				</div>

				<div
					style="display: flex; flex-direction: column; justify-content: space-around;">
					<div
						style="display: flex; flex-direction: row; justify-content: space-between;">
						<h3 class="font-weight-light">"선처는 없다", 프로야구 업로드 금지</h3>
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg" alt="..." />
					</div>
					<time datetime="2022-09-17">2022-09-17</time>
					<hr />
					<div
						style="display: flex; flex-direction: row; justify-content: space-between;">
						<h3 class="font-weight-light">'인천에서 인천으로' 목적지 없는 비행</h3>
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg" alt="..." />
					</div>
					<time datetime="2022-09-17">2022-09-17</time>
				</div>

			</div>

		</div>
	</div>
	
</div>

</html>