<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">
<head>
	<meta name="_csrf" content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
	<script>
	$(function () {
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
	    });
	});
	</script>
</head>
  <div layout:fragment="content">
    <div class="container_frame">
    <!-- 메인 뉴스 기사-->
    <h5>헤드라인 기사</h5>
    <a href="/board/boardDetail?news=" th:attrappend="href=${mainArticle.news}">
    	<div class="main_news">
      <div class="main_news_l">
        <img class="main_img rounded" th:src="${mainArticle.photo}" style=" object-fit: contain"/>
      </div>
      <div class="main_news_r">
        	<h1 th:text="${mainArticle.title}"></h1>
        <p th:utext="${mainArticle.contents !=null and #strings.length(mainArticle.contents)>0}? 
        ${#strings.abbreviate(mainArticle.contents,100)}:'내용'">
        </p>
        <div th:text="${mainArticle.regdate}"> </div>
      </div>
    </div>
    </a>
    
    <!-- 보도대학 뉴스 -->
    <div class="category_news">
      <h3 class="category_name">보도 대학</h3>
      <div class="category_content">
        <a href="/board/boardDetail?news=" th:attrappend="href=${univ[0].news}">
        	<div class="category_l">
	          <div><img class="rounded" th:src="${univ[0].photo}"></div>
	        		<h1 th:text="${univ[0].title}"></h1>
	          	<p th:utext="${univ[0].contents !=null and #strings.length(univ[0].contents)>0}? 
	       	 		${#strings.abbreviate(univ[0].contents,50)}:'내용'">
	        	</p>
	        	<p th:text="${univ[0].regdate}"></p>
        	</div>
        </a>
        <div class="category_r">
          <a href="/board/boardDetail?news=" th:attrappend="href=${univ[1].news}">
          	<div class="category_r_top">
              <div class="category_r_content">
                <h3 class="category_r_title" th:text="${univ[1].title}">코로나 학점 인플레이션</h3>
                <p th:utext="${univ[1].contents !=null and #strings.length(univ[1].contents)>0}? 
	       	 		${#strings.abbreviate(univ[1].contents,50)}:'내용'">
	        	</p>
                <div class="category_time" th:text="${univ[1].regdate}">2022-09-17</div>
                
              </div>
              <img class="category_r_img rounded" th:src="${univ[1].photo}">
          	</div>
          </a>
          <a href="/board/boardDetail?news=" th:attrappend="href=${univ[2].news}">
          	<div class="category_r_center">
              <div class="category_r_content">
                <h3 class="category_r_title" th:text="${univ[2].title}"></h3>
                <p th:utext="${univ[2].contents !=null and #strings.length(univ[2].contents)>0}? 
	       	 		${#strings.abbreviate(univ[2].contents,50)}:'내용'">
	        	</p>
                <div class="category_time" th:text="${univ[2].regdate}">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" th:src="${univ[2].photo}">
          	</div>
          </a>
          <a href="/board/boardDetail?news=" th:attrappend="href=${univ[3].news}">
	          <div class="category_r_bottom">
	              <div class="category_r_content">
	                <h3 class="category_r_title" th:text="${univ[3].title}">비대면 2년차도 막지 못한 이러닝 오류</h3>
                	<p th:utext="${univ[3].contents !=null and #strings.length(univ[3].contents)>0}? 
	       	 		${#strings.abbreviate(univ[3].contents,50)}:'내용'">
	        		</p>
                	<div class="category_time" th:text="${univ[3].regdate}">2022-09-17</div>
	              </div>
	              <img class="category_r_img rounded" th:src="${univ[3].photo}"> 
	          </div>
          </a>
        </div>
      </div>
    </div>

    <!-- 사회 뉴스 -->
    <div class="category_news">
      <h3 class="category_name">사회</h3>
      <div class="category_content">
        <a href="/board/boardDetail?news=" th:attrappend="href=${social[0].news}">
        	<div class="category_l">
	          <div><img class="rounded" th:src="${social[0].photo}"></div>
	        		<h1 th:text="${social[0].title}"></h1>
	          	<p th:utext="${social[0].contents !=null and #strings.length(social[0].contents)>0}? 
	       	 		${#strings.abbreviate(social[0].contents,50)}:'내용'">
	        	</p>
	        	<p th:text="${social[0].regdate}"></p>
        	</div>
        </a>
        <div class="category_r">
          <a href="/board/boardDetail?news=" th:attrappend="href=${social[1].news}">
          	<div class="category_r_top">
              <div class="category_r_content">
                <h3 class="category_r_title" th:text="${social[1].title}">코로나 학점 인플레이션</h3>
                <p th:utext="${social[1].contents !=null and #strings.length(social[1].contents)>0}? 
	       	 		${#strings.abbreviate(social[1].contents,50)}:'내용'">
	        	</p>
                <div class="category_time" th:text="${social[1].regdate}">2022-09-17</div>
                
              </div>
              <img class="category_r_img rounded" th:src="${social[1].photo}">
          	</div>
          </a>
          <a href="/board/boardDetail?news=" th:attrappend="href=${social[2].news}">
          	<div class="category_r_center">
              <div class="category_r_content">
                <h3 class="category_r_title" th:text="${social[2].title}">비대면 2년차도 막지 못한 이러닝 오류</h3>
                <p th:utext="${social[2].contents !=null and #strings.length(social[2].contents)>0}? 
	       	 		${#strings.abbreviate(social[2].contents,50)}:'내용'">
	        	</p>
                <div class="category_time" th:text="${social[2].regdate}">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" th:src="${social[2].photo}">
          	</div>
          </a>
          <a href="/board/boardDetail?news=" th:attrappend="href=${social[3].news}">
	          <div class="category_r_bottom">
	              <div class="category_r_content">
	                <h3 class="category_r_title" th:text="${social[3].title}">비대면 2년차도 막지 못한 이러닝 오류</h3>
                	<p th:utext="${social[3].contents !=null and #strings.length(social[3].contents)>0}? 
	       	 		${#strings.abbreviate(social[3].contents,50)}:'내용'">
	        		</p>
                	<div class="category_time" th:text="${social[3].regdate}">2022-09-17</div>
	              </div>
	              <img class="category_r_img rounded" th:src="${social[3].photo}"> 
	          </div>
          </a>
        </div>
      </div>
    </div>



    <!-- 카테고리 뉴스 -->
    <div class="category_news">
      <h3 class="category_name">종합 문화</h3>
      <div class="category_content">
        <a href="/board/boardDetail?news=" th:attrappend="href=${culture[0].news}">
        	<div class="category_l">
	          <div><img class="rounded" th:src="${culture[0].photo}"></div>
	        		<h1 th:text="${culture[0].title}"></h1>
	          	<p th:utext="${culture[0].contents !=null and #strings.length(culture[0].contents)>0}? 
	       	 		${#strings.abbreviate(culture[0].contents,70)}:'내용'">
	        	</p>
	        	<p th:text="${culture[0].regdate}"></p>
        	</div>
        </a>
        <div class="category_r">
          <a href="/board/boardDetail?news=" th:attrappend="href=${culture[1].news}">
          	<div class="category_r_top">
              <div class="category_r_content">
                <h3 class="category_r_title" th:text="${culture[1].title}">코로나 학점 인플레이션</h3>
                <p th:utext="${culture[1].contents !=null and #strings.length(culture[1].contents)>0}? 
	       	 		${#strings.abbreviate(culture[1].contents,50)}:'내용'">
	        	</p>
                <div class="category_time" th:text="${culture[1].regdate}">2022-09-17</div>
                
              </div>
              <img class="category_r_img rounded" th:src="${culture[1].photo}">
          	</div>
          </a>
          <a href="/board/boardDetail?news=" th:attrappend="href=${culture[2].news}">
          	<div class="category_r_center">
              <div class="category_r_content">
                <h3 class="category_r_title" th:text="${culture[2].title}">비대면 2년차도 막지 못한 이러닝 오류</h3>
                <p th:utext="${culture[2].contents !=null and #strings.length(culture[2].contents)>0}? 
	       	 		${#strings.abbreviate(culture[2].contents,50)}:'내용'">
	        	</p>
                <div class="category_time" th:text="${culture[2].regdate}">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" th:src="${culture[2].photo}">
          	</div>
          </a>
          <a href="/board/boardDetail?news=" th:attrappend="href=${culture[3].news}">
	          <div class="category_r_bottom">
	              <div class="category_r_content">
	                <h3 class="category_r_title" th:text="${culture[3].title}">비대면 2년차도 막지 못한 이러닝 오류</h3>
                	<p th:utext="${culture[3].contents !=null and #strings.length(culture[3].contents)>0}? 
	       	 		${#strings.abbreviate(culture[3].contents,50)}:'내용'">
	        		</p>
                	<div class="category_time" th:text="${culture[3].regdate}">2022-09-17</div>
	              </div>
	              <img class="category_r_img rounded" th:src="${culture[3].photo}"> 
	          </div>
          </a>
        </div>
      </div>
    </div>




  </div>
</html>