<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

  <div layout:fragment="content">

  <!-- 사이드 바 -->
    <div style="float: right; padding-right: 100px;  position: sticky; top: 10%;">
      <h4>많이 본 뉴스</h4>
      <ol style="padding-left:15%">
        <li>많이 본 뉴스1</li>
        <li>많이 본 뉴스2</li>
        <li>많이 본 뉴스3</li>
        <li>많이 본 뉴스4</li>
        <li>많이 본 뉴스5</li>
      </ol>
    </div>


    <div class="container_frame">
    <!-- 메인 뉴스 기사-->
    <div class="main_news">
      <div class="main_news_l">
        <img class="main_img rounded" src="img/test1.jpg" width = "600" alt="main_img" />
      </div>
      <div class="main_news_r">
        <h1>학우들의 목소리를 대변하는 학생자치운영위원회를 만나다</h1>
        <p>우리 대학 학우들의 목소리를 대변하는 학생기구. 발열검사소 설치부터 등록금 반환까지, 학우들을 위해 열일하는 학생자치운영위원회 기계과 김종운 위원장과 메카트로닉스과 이승호 수석 부위원장을 만나 인터뷰를 진행했다.</p>
      </div>
    </div>


    <!-- 보도대학 뉴스 -->
    <div class="category_news">
      <h5 class="category_name">보도 대학</h5>
      <div class="category_content">
        <div class="category_l">
          <div><img class="rounded" src="img/test2.jpg" width = "250"></div>
          <h3 class="category_l_title">연습을 실전처럼 'VR 모의면접 체험'</h2>
          <p>우리 대학 학우들의 목소리를 대변하는 학생기구. 발열검사소 설치부터 등록금 반환까지, 학우들을 위해 열일하는 학생자치운영위원회 기계과 김종운 위원장과 메카트로닉스과 이승호 수석 부위원장을 만나 인터뷰를 진행했다.</p>
        </div>
        <div class="category_r">
          <div class="category_r_top">
              <div class="category_r_content">
                <h5 class="category_r_title">코로나 학점 인플레이션</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150">
          </div>
          <div class="category_r_center">
              <div class="category_r_content">
                <h5 class="category_r_title">비대면 2년차도 막지 못한 이러닝 오류</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150">
          </div>
          <div class="category_r_bottom">
              <div class="category_r_content">
                <h5 class="category_r_title">비대면 2년차도 막지 못한 이러닝 오류</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150"> 
          </div>
        </div>
      </div>
    </div>

    <!-- 사회 뉴스 -->
    <div class="category_news">
      <h5 class="category_name">사회</h5>
      <div class="category_content">
        <div class="category_l">
          <div><img class="rounded" src="img/test3.jpg" width = "250"></div>
          <h3 class="category_l_title">챗봇 '이루다' 논란, 인공지능 윤리는 어디에</h2>
          <p>우리 대학 학우들의 목소리를 대변하는 학생기구. 발열검사소 설치부터 등록금 반환까지, 학우들을 위해 열일하는 학생자치운영위원회 기계과 김종운 위원장과 메카트로닉스과 이승호 수석 부위원장을 만나 인터뷰를 진행했다.</p>
        </div>
        <div class="category_r">
          <div class="category_r_top">
              <div class="category_r_content">
                <h5 class="category_r_title">정인이 사건에서 우리가 기억해야 할 것은</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150">
          </div>
          <div class="category_r_center">
              <div class="category_r_content">
                <h5 class="category_r_title">정인이 사건에서 우리가 기억해야 할 것은</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150">
          </div>
          <div class="category_r_bottom">
              <div class="category_r_content">
                <h5 class="category_r_title">정인이 사건에서 우리가 기억해야 할 것은</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150"> 
          </div>
        </div>
      </div>
    </div>



    <!-- 카테고리 뉴스 -->
    <div class="category_news">
      <h5 class="category_name">종합 문화</h5>
      <div class="category_content">
        <div class="category_l">
          <div><img class="rounded" src="img/test4.jpg" width = "250"></div>
          <h3 class="category_l_title">SK에서 신세계로, 와이번스의 새출발</h2>
          <p>우리 대학 학우들의 목소리를 대변하는 학생기구. 발열검사소 설치부터 등록금 반환까지, 학우들을 위해 열일하는 학생자치운영위원회 기계과 김종운 위원장과 메카트로닉스과 이승호 수석 부위원장을 만나 인터뷰를 진행했다.</p>
        </div>
        <div class="category_r">
          <div class="category_r_top">
              <div class="category_r_content">
                <h5 class="category_r_title">"선처는 없다", 프로야구 업로드 금지</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150">
          </div>
          <div class="category_r_center">
              <div class="category_r_content">
                <h5 class="category_r_title">'인천에서 인천으로' 목적지 없는 비행</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150">
          </div>
          <div class="category_r_bottom">
              <div class="category_r_content">
                <h5 class="category_r_title">'인천에서 인천으로' 목적지 없는 비행</h3>
                <div class="category_time">2022-09-17</div>
              </div>
              <img class="category_r_img rounded" src="img/test1.jpg" width = "150"> 
          </div>
        </div>
      </div>
    </div>



  </div>
</html>