<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

	<div layout:fragment="content">
		<div id="board_grid" class="container_frame">
			<div class="news_board_l">
				<div>
					<h5>사진/영상</h5>
					<div class="sub_category">
						<div>행사 사진</div>
						<div>보도 사진전</div>
						<div>영상</div>
					</div>
				</div>
			</div>

			<div class="news_board_c">
				<div class="picture_top"><h5>행사 사진</h5></div>
				<div class="picture_bottom">
					
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>
					<div class="picture_list">
						<div class="picture_list_img"><img src="img/test4.jpg" class="img-fluid" ></div>
						<div class="picture_content">신당역 살해범, 도주 계획했나… </div>
					</div>

				</div>
			</div>

			<div class="news_board_r">
				<div>
					<h5>많이 본 뉴스</h5>
				</div>
				<div>
					<div id="first"	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
					<div 	class="rank">
						<div >많이 본 뉴스</div>
						<div>2021.09.03 | aaa기자</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>