<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<div layout:fragment="content">
	<div style="float: right; padding-right: 100px;  position: sticky; top: 10%;">
		<h4>많이 본 뉴스</h4>
		<ol style="padding-left:15%">
			<li>많이 본 뉴스1</li>
			<li>많이 본 뉴스2</li>
			<li>많이 본 뉴스3</li>
			<li>많이 본 뉴스4</li>
			<li>많이 본 뉴스5</li>
		</ol>
  	</div>
  	<nav class="nav flex-column sidemenu">
	  <div class="side-contents">
		  <h4 class="active page-title" aria-current="page">사진/영상</h4>
		  <hr />
		  <a class="nav-link" href="#">행사 사진</a> 
		  <a class="nav-link" href="#">보도 사진전</a>
		  <a class="nav-link" href="#">영상</a>
		  <hr />
	  </div>
  	</nav>
	<main class="main-content">
		<div class="headline-news">
			<h3>사진/영상</h3>
			<hr>
		</div>
		<!-- ======= Gallery Section ======= -->
		<section id="gallery" class="gallery">
			<div class="container-fluid">
			<div class="row gy-4 justify-content-center">
				<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="gallery-item h-100">
					<img src="img/test4.jpg" class="img-fluid" alt="">
					<div class="gallery-links d-flex align-items-center justify-content-center">
					<a href="img/test4.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
					<a href="index.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
					</div>
				</div>
			</div><!-- End Gallery Item -->
			<div class="row gy-4 justify-content-center">
				<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="gallery-item h-100">
					<img src="img/test4.jpg" class="img-fluid" alt="">
					<div class="gallery-links d-flex align-items-center justify-content-center">
					<a href="assets/img/gallery/gallery-1.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
					<a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
					</div>
				</div>
			</div><!-- End Gallery Item -->
			<div class="row gy-4 justify-content-center">
				<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="gallery-item h-100">
					<img src="img/test4.jpg" class="img-fluid" alt="">
					<div class="gallery-links d-flex align-items-center justify-content-center">
					<a href="assets/img/gallery/gallery-1.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
					<a href="index.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
					</div>
				</div>
			</div><!-- End Gallery Item -->
			<div class="row gy-4 justify-content-center">
				<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="gallery-item h-100">
					<img src="img/test4.jpg" class="img-fluid" alt="">
					<div class="gallery-links d-flex align-items-center justify-content-center">
					<a href="assets/img/gallery/gallery-1.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
					<a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
					</div>
				</div>
			</div><!-- End Gallery Item -->
			<div class="row gy-4 justify-content-center">
				<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="gallery-item h-100">
					<img src="img/test4.jpg" class="img-fluid" alt="">
					<div class="gallery-links d-flex align-items-center justify-content-center">
					<a href="assets/img/gallery/gallery-1.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
					<a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
					</div>
				</div>
			</div><!-- End Gallery Item -->
			<div class="row gy-4 justify-content-center">
				<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="gallery-item h-100">
					<img src="img/test4.jpg" class="img-fluid" alt="">
					<div class="gallery-links d-flex align-items-center justify-content-center">
					<a href="assets/img/gallery/gallery-1.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
					<a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
					</div>
				</div>
			</div><!-- End Gallery Item -->
		</section><!-- End Gallery Section -->
	</main>
</div>
</html>