<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<div layout:fragment="content">
	<div style="float: right; padding-right: 100px;  position: sticky; top: 10%;">
      	<h4>많이 본 뉴스</h4>
      	<ol style="padding-left:15%">
      		<li>많이 본 뉴스1</li>
      		<li>많이 본 뉴스2</li>
      		<li>많이 본 뉴스3</li>
      		<li>많이 본 뉴스4</li>
      		<li>많이 본 뉴스5</li>
      	</ol>
	</div>
	<nav class="nav flex-column sidemenu">
		<div class="side-contents">
			<h4 class="active page-title" aria-current="page">보도 대학</h4>
			<hr />
			<a class="nav-link" href="#">일반</a> 
			<a class="nav-link" href="#">수업 교육</a>
			<a class="nav-link" href="#">대학 행정</a>
			<hr />
		</div>

	</nav>
	<main class="main-content">
		<div class="headline-news">
			<h3>헤드라인 뉴스</h3>
			<hr>
		</div>
		<div>
			<div class="newslist">
				<div class="news-contents">
					<img class="img-fluid rounded mb-4 mb-lg-0"
						src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg" alt="..." />
					<div class="article-contents">
						<h3 class="font-weight-light"><a class="article-title" href="/#">신당역 살해범, 도주 계획했나… 범행 8시간 전 예금
						인출 시도</a></h3>
						<span>내용내용내용내용내용내용내용내용내용ㅇ내욘ㅇ내욘앤요내요내요내ㅛ애뇨애뇨ㅐ욘요ㅐㄴㅇ</span>
					</div>
					
				</div>
				<hr/>
				<div class="news-contents">
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg" alt="..." />
						<div class="article-contents">
							<h3 class="font-weight-light"><a class="article-title" href="/#">신당역 살해범, 도주 계획했나… 범행 8시간 전 예금
						인출 시도</a></h3>
							<span>내용내용내용내용내용내용내용내용내용ㅇ내욘ㅇ내욘앤요내요내요내ㅛ애뇨애뇨ㅐ욘요ㅐㄴㅇ</span>
						</div>
						
					</div>
					<hr/>
				<div class="news-contents">
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg" alt="..." />
						<div class="article-contents">
							<h3 class="font-weight-light"><a class="article-title" href="/#">신당역 살해범, 도주 계획했나… 범행 8시간 전 예금
						인출 시도</a></h3>
							<span>내용내용내용내용내용내용내용내용내용ㅇ내욘ㅇ내욘앤요내요내요내ㅛ애뇨애뇨ㅐ욘요ㅐㄴㅇ</span>
						</div>
						
					</div>
					<hr/>
				<div class="news-contents">
						<img class="img-fluid rounded mb-4 mb-lg-0"
							src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg" alt="..." />
						<div class="article-contents">
							<h3 class="font-weight-light"><a class="article-title" href="/#">신당역 살해범, 도주 계획했나… 범행 8시간 전 예금
						인출 시도</a></h3>
							<span>내용내용내용내용내용내용내용내용내용ㅇ내욘ㅇ내욘앤요내요내요내ㅛ애뇨애뇨ㅐ욘요ㅐㄴㅇ</span>
						</div>
						
					</div>
					<hr/>	
			</div>
		</div>
		
	</main>
	
</div>
</html>