<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<th:block th:fragment="topbarFragment">
	
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
    	style="display:flex; justify-content: space-between;">
        <img src="/img/main_logo.png" alt="My Image" width="250" style="padding-top:10px;">
    	<a id="logoutBtn" href='#' style="color:#03206c;" class="logoutBtn"> 
			<i class="fas fa-sign-out-alt fa-lg logout"></i>
		</a>
    </nav>
    <!-- End of Topbar -->

</th:block>
</html>